.wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #232529;
  color: white;
  font-family: sans-serif;
  display: grid;
  grid-template-areas:
    'head head'
    'nav  main'
    'nav foot';
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.3;
}

.header {
  grid-area: head;
  border-bottom: 3px solid rgb(112, 112, 112);
}

.nav {
  grid-area: nav;
  background-color: #292c31;
  border-right: 3px solid rgb(112, 112, 112);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: foot;
  border-top: 3px solid rgb(112, 112, 112);
}

.list-item {
  margin-bottom: 10px;
}
